.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

.form__label {
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.form__input {
  background-color: #fff;
  border: none;
  width: 100%;
  padding: 20px 20px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

.form__submit {
  background-color: #1d1d1d;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.form__error {
  display: none;
  font-size: 12px;
  line-height: 16px;
  color: #da132c;
}
