@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(241, 241, 241, 0.75);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(241, 241, 241, 0);
  }
}

.intro {
  display: flex;
  flex-direction: column;
  position: relative;
}

.intro__title {
  margin: 100px 0 0 30px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.intro__subtitle {
  margin: 0 0 150px 30px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #da132c;
}

.intro__image-container {
  display: block;
  width: 250px;
  position: absolute;
  top: 100px;
  right: 20%;
  background-color: transparent;
}

.intro__image-circle {
  position: relative;
  width: 450px;
  height: 450px;
  /* background-color: #da132c; */
  background-color: #f1f1f1;
  border-radius: 50%;
}

.intro__image-circle_pulse {
  animation: pulse 3s infinite;
}

.intro__image {
  position: absolute;
  background-color: transparent;
  top: 75px;
  left: 85px;
  fill: #da132c;
}

@media screen and (max-width: 1050px) {
  .intro__title {
    margin: 100px 0 0 10px;
  }
  .intro__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 150px 10px;
  }
}

@media screen and (max-width: 900px) {
  .intro__image-container {
    display: none;
  }

  .intro__subtitle {
    margin: 0 0 100px 10px;
  }
}
